body{
    margin: 50px 50px;
}
.gallery {
     display: flex;
     gap : 20px;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px;
  
}
.gallery img{
    display: block;
    max-width: 100%;
    height: 200px;
}
#categories{
display: flex;
gap: 10px;
list-style: none;
justify-content: space-around;
align-items: center;
}

input{
    display: flex;

}


.widget{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}